[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gitvinay
[access "refs/for/refs/*"]
	read = group user/gitvinay
	push = group user/gitvinay
	label-Code-Review = -2..+2 group user/gitvinay
	label-Verified = -1..+1 group user/gitvinay
	rebase = group user/gitvinay
	removeReviewer = group user/gitvinay
	submit = group user/gitvinay
[access "refs/heads/*"]
	read = group user/gitvinay
	create = group user/gitvinay
	push = +force group user/gitvinay
	pushMerge = group user/gitvinay
[access "refs/tags/*"]
	push = +force group user/gitvinay
	pushTag = group user/gitvinay
	pushSignedTag = group user/gitvinay
